<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detalle de gasto</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list *ngIf="gasto">
    <ion-item>
      <ion-input label="Cantidad" labelPlacement="stacked" [clearInput]="true" type="number" [(ngModel)]="gasto.cantidad"  >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Descripcion" labelPlacement="stacked" [clearInput]="true" type="text"   [(ngModel)]="gasto.descripcion">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Fecha" labelPlacement="stacked" type="date" [clearInput]="true" [(ngModel)]="gasto.fecha">
      </ion-input>
    </ion-item>
    <ion-button color="primary" (click)="actualizarGasto()">
      <ion-icon slot="icon-only" name="pencil"></ion-icon>
    </ion-button>
    <ion-button color="danger" (click)="eliminarGasto()">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-button>
  </ion-list>
</ion-content>
